@charset "utf-8";
@import "constants";

html {
    font-size: $font-size-default;
}

body {
    font-size: $font-size-default;
}

/** temporary*/
[data-node="main-header"],
[data-node="main-nav"],
[data-node="main-aside"],
[data-node="main-footer"] {
    display:  none;
}