<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!--<h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>-->
    <header data-node="main-header">
        future header
    </header>
    <nav data-node="main-nav">
        future nav
    </nav>
    <aside data-node="main-aside">
        future hamburger
    </aside>
    <section data-node="main-section">
        future section
    </section>
    <footer data-node="main-footer">
        future footer
    </footer>
</body>
</html>